<section class="customers container">
    <h2 class="customers-title title">Customers</h2>
    <ul class="customers-list">
        <li class="customers-item">
            <a class="customers-link" href="">
                <svg class="customers-icon" width="104" height="56">
                    <use href="/assets/icon/customers/logo1.svg"></use>
                </svg>
            </a>
        </li>
        <li class="customers-item">
            <a class="customers-link" href="">
                <svg class="customers-icon" width="104" height="56">
                    <use href="/assets/icon/customers/logo1.svg"></use>
                </svg>
            </a>
        </li>
        <li class="customers-item">
            <a class="customers-link" href="">
                <svg class="customers-icon" width="104" height="56">
                    <use href="/assets/icon/customers/logo1.svg"></use>
                </svg>
            </a>
        </li>
        <li class="customers-item">
            <a class="customers-link" href="">
                <svg class="customers-icon" width="104" height="56">
                    <use href="/assets/icon/customers/logo1.svg"></use>
                </svg>
            </a>
        </li>
        <li class="customers-item">
            <a class="customers-link" href="">
                <svg class="customers-icon" width="104" height="56">
                    <use href="/assets/icon/customers/logo1.svg"></use>
                </svg>
            </a>
        </li>
        <li class="customers-item">
            <a class="customers-link" href="">
                <svg class="customers-icon" width="104" height="56">
                    <use href="/assets/icon/customers/logo1.svg"></use>
                </svg>
            </a>
        </li>
    </ul>


</section>