<section class="doing container">
    <h2 class="doing-title title">What are we doing</h2>
    <ul class="doing-list">
        <li class="doing-item">
            <img class="doing-img" src="../assets/images/01-studio//04-skills/01-desktop.jpg" alt="monitor" width=360 height=300>
        </li>
        <li class="doing-item">
            <img class="doing-img" src="../assets/images/01-studio//04-skills/02-phone.jpg" alt="telephone" width=360
                height=300>
        </li>
        <li class="doing-item">
            <img class="doing-img" src="../../assets/images/01-studio//04-skills/03-adaptive.jpg" alt="laptop" width=360 height=300>
        </li>
    </ul>
</section>