<header class="header container">
  <a class="logo" href="/">
    <span class="logo--accent"> web </span>studio
  </a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class=" nav-link active" href="../index.html">Studio</a>
      </li>
      <li class="nav-item">
        <a class=" nav-link" href="../pages/portfolio.html">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class=" nav-link" href="../pages/contacts.html">Contacts</a>
      </li>
    </ul>
  </nav>
  <address class="contacts">
    <ul class="contacts-list">
      <li class="contacts-item">
        <a class="contacts-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
      </li>
      <li class="contacts-item">
        <a class="contacts-link" href="tel:+110001111111">+11 (000) 111-11-11</a>
      </li>
    </ul>
  </address>


  <button class="burger-btn" type="button">
    <!-- <svg class="burger-icon">
      <use href="/assets/images/burger-menu-btn-icon.svg"></use>
    </svg> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="22" viewBox="0 0 32 22" fill="none">
      <path d="M1.34814 20.0431H30.8866M1.34814 10.7354H30.8866M1.34814 1.42773H30.8866" stroke="#2E2F42"
        stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>

</header>