<section class="team container">

    <h2 class="team-title title">Our Team</h2>

    <ul class="team-list">
        <li class="team-item">
            <img class="team-img" src="/assets/images/team/mark.jpg" alt="Mark Guerrero" width=264 height=260>
            <div class="team-content">
                <h3 class="team-subtitle">Mark Guerrero</h3>
                <p class="team-text">Product Designer</p>
                <ul class="social-list">

                    <li class="social-item">
                        <a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="team-item">
            <img class="team-img" src="/assets/images/team/tom.jpg" alt="Tom Ford" width=264 height=260>
            <div class="team-content">
                <h3 class="team-subtitle">Tom Ford</h3>
                <p class="team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </li>
        <li class="team-item">
            <img class="team-img" src="/assets/images/team/camila.jpg" alt="Camila Garcia" width=264 height=260>
            <div class="team-content">
                <h3 class="team-subtitle">Camila Garcia</h3>
                <p class="team-text">Marketing</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </li>
        <li class="team-item">
            <img class="team-img" src="/assets/images/team/daniel.jpg" alt="Daniel Wilson" width=264 height=260>
            <div class="team-content">
                <h3 class="team-subtitle">Daniel Wilson</h3>
                <p class="team-text">UI Designer</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item"><a class="social-link" href="">
                            <svg class="social-icon" width="16" height="16">
                                <use href="/assets/icon/social.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
        </li>
        </div>

    </ul>

</section>