<section class="values container">
    <ul class="values-list">
        <li class="values-item">
            <div class="values-icon-wrapper">
                <svg class="values-icon" width="64" height="64">
                    <use href="/assets/icon/antenna.svg"></use>
                </svg>
            </div>
            <h3 class="values-title">Strategy</h3>
            <p class="values-text">Our goal is to identify the business problem to walk away with the perfect and
                creative solution.
        </li>

        <li class="values-item">
            <div class="values-icon-wrapper">
                <svg class="values-icon" width="64" height="64">
                    <use href="/assets/icon/clock.svg"></use>
                </svg>
            </div>
            <h3 class="values-title">Punctuality</h3>
            <p class="values-text">Bring the key message to the brand's audience for the best price within the shortest
                possible time.
        </li>

        <li class="values-item">
            <div class="values-icon-wrapper">
                <svg class="values-icon" width="64" height="64">
                    <use href="/assets/icon/diagram.svg"></use>
                </svg>
            </div>
            <h3 class="values-title">Diligence</h3>
            <p class="values-text">Research and confirm brands that present the strongest digital growth opportunities
                and minimize risk.
        </li>

        <li class="values-item">
            <div class="values-icon-wrapper">
                <svg class="values-icon" width="64" height="64">
                    <use href="/assets/icon/astronaut.svg"></use>
                </svg>
            </div>
            <h3 class="values-title">Technologies</h3>
            <p class="values-text">Design practice focused on digital experiences. We bring forth a deep passion for
                problem-solving.
        </li>

    </ul>

</section>