.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;

}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-img {}

.team-subtitle {}

.team-text {}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
}

.social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;


}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    background: var(--IRIS, #4D5AE5);

}

.social-link {

    &:hover,
    &:focus {
        color: var(--OCEAN, #404BBF);
    }
}

.social-icon {}